<div class="page" data-page="local" ng-controller="localData">

    <!-- Search Bar -->
    <form class="searchbar" ng-show="isVisible">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" ng-model="keyword">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    
    <!-- Search Bar overlay-->
    <div class="searchbar-overlay"></div>

	<!-- navbar -->
        <div class="navbar">
            <div class="navbar-inner">
            	<div class="left">
            		<a href="index.html" class="link">
            			<i class="icon icon-back"></i>
            		</a>
            	</div>
                <div class="center">Local Data</div>
                <div class="right">
                    <a href="#" class="link icon-only" ng-click="showSearch()">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    <!-- navbar -->

    <div class="page-content">

    <div class="content-block-title">
        Binding data dengan AngularJS
    </div>

    	<div class="list-block content-block">
            <ul>
                <li class="item-content" ng-repeat="row in isiData | filter:keyword">
                  <div class="item-media"><img src="{{row.profile}}" height="30px" width="30px"></div>
                  <div class="item-inner">
                    <div class="item-title">{{row.first_name}}</div>
                    <div class="item-after">{{row.gender}}</div>
                  </div>               
                </li>
            </ul>    		
    	</div>
    </div>
</div>